* {
  position: relative;
  background-color: #131313;
  margin : 0
}

#logoname {
  width: 75%;
  height: 100%;
  right: 0;
}

#root{
  height: 4vh;
}
#logo{
  color: #F8F8F8;
  font-family: 'Manrope';
  width : 8.8%;
  margin-left : 8.8%;
  margin-top: 4.4%;
}
