#resend {
  color: #5e35b1;
  cursor: pointer;
}
input {
  background-color: #131313;
}
.otpillustration {
  width: 54.44vw;
  height: 80vh;
  position: absolute;
  right: 45%;
  top: 10%;
  bottom: 10%;
}
p {
  font-family: "Manrope";
  font-style: normal;
}
.topline {
  width: 30vw;
  height: 6.67vh;  
  font-weight: 700;
  font-size: 2.25rem;
  /* font-size:200%; */
  /* line-height: 49px; */
}
.middle {
  
  font-weight: 400;
  font-size: 14px;
  line-height: 140.8%;
}
.lowline {
margin-bottom: 2vh;
}
.otpsignup{
    height: 17vw ;
}
.otp-field {
  display: flex;

  /* width: 22.778vw; */
  /* height: 6.667vh; */
  /* justify-content: space-between; */
}
.otp-field__input{
    padding:1.1rem;
  margin: 5px;
  font-weight: bold;
  /* width: 49px;
  height: 48px; */
  width: 3.4vw;
  height:3.4vw ;
  border-radius: 8px;
  border: 2px solid #e6e5ec;
}
#otpbox {
    margin-left: 58vw;
    margin-top: 20vh;
    height: 17vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.otp-field__input:focus {
  background: #2e2e2e;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1130px){
    
    .otpillustration{
        position: absolute;
        width: 26.67vw;
        height: 10.75vh;
        left:36.16vw;
        top:17vh;
        
        transform: scaleX(-1);
    }
    #otpbox{
        position: absolute;
        left: 8.44%;
        right: 4.44%;
        top: 29.88%;
        bottom: 32.88%;
        margin-left: 0;
        margin-top: 0;
        width: 91.1111vw;
        height: 37.25vh;
    }
    .otp-field__input{
        width: 11.4806vw;
        height: 11.4806vw;
        /* height: 6vh; */
    }
    .topline{
        width: 86.1111vw;
        height: 6vh;
    }
}