#setpass {
    width: 30vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-top: -55vh; */
    /* margin-left: 35vw; */
    font-size: 1.1vw;
    position: absolute;
    top: 24vh;
    left: 35.01vw;
  }
  
  .svgsetpass{
    width: 25.5556vw;
    height: 40.5556vh;
  }
  #svg1{
    position: absolute;
    left: 5.89vw;
    top: 11.1111vh;

transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  #svg2{
    position: absolute;
    
    right: 5.89vw;
    top: 53.89vh;

  }
  #setpass pre {
    margin-top: 1vh;
    cursor: pointer;
    text-align: center;
    width: 30vw;
    font-size: 1.1vw;
  }