#skill {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  color: #eff5f7;
  padding-left: 6.67vw;
  padding-right: 6.67vw;
  padding-top: 3vh;
  padding-bottom: 4vw;
  background-color: #13131a;
  position: absolute;
  width: 51.11vw;
  height: 70vh;
  border: 1px solid #cdccd9;
  border-radius: 0.2vw;
  margin-left: 36.67vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

#skill p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125vw;
  color: #f5f5fa;
  margin-left: -4vw;
  margin-bottom: 2vw;
}

#skill input{
    background-color: #13131A;
  width: 37.77vw;
  border: 0.1vw solid white;
  border-radius: 0.4vw;
  padding-left: 1vw;
  font-size: 0.8vw;
  height: 2.8vw;
  margin-bottom: 22vw;
}

#skill input:focus{
  outline: none;
  background-color: #2e2e2e;
}

#skill div{
font-weight: 400;
font-size: 1vw;
}

#skill button{
    width: 35vw;
    height: 2.5vw;
    background-color: #A950FB;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    margin-left: 1.34vw;
}

#aboutme{
    background-color: #13131A;
    width: 37.77vw;
    border: 0.1vw solid white;
    border-radius: 0.4vw;
    padding-left: 1vw;
    font-size: 0.8vw;
    height: 22vw;
    padding-top: 1vw;
    margin-bottom: 2vw;
    resize: none;
}

#aboutme:focus {
    -webkit-appearance: none;
    outline: none;
    background-color: #2e2e2e;
  }