#search_post {
  margin-top: 3.89vw;
  margin-left: 20vw;
  position: absolute;
  width: 75vw;
  background: #13131a;
  height: 5.2vw;
  border: 1px solid #262626;
  border-radius: 0.6vw;
  padding: 1.3vw;
}

#search_post input {
  height: 2.5vw;
  border: 1px solid #f5f5fa;
  border-radius: 0.6vw;
  width: 36vw;
  background: #13131a;
  padding-left: 1vw;
  margin-right: 1vw;
  font-weight: 700;
  font-size: 1.5vw;
  color: white;
}

#search_post input:focus {
  outline: none;
}

#search_post img {
  height: 2.5vw;
  margin: 0 1vw;
  vertical-align: bottom;
  cursor: pointer;
}

#search_post div {
  display: inline-block;
  width: 10vw;
  height: 2vw;
  background-color: #a950fb;
  border-radius: 0.3vw;
  vertical-align: middle;
  text-align: center;
  line-height: 2vw;
  font-weight: 700;
  letter-spacing: 0.095em;
  font-size: 0.9vw;
  cursor: pointer;
}

#shortprofile {
  position: fixed;
  width: 24.44vw;
  height: 18.89vw;
  background: #13131a;
  opacity: 0.8;
  border: 1px solid #262626;
  border-radius: 4px;
  margin-left: 70vw;
  margin-top: 11.4vw;
  font-size: 0.9vw;
  text-align: center;
}

#shortprofile img {
  cursor: pointer;
}

#shortcover {
  width: 24.44vw;
  height: 7vw;
  /* border: 0.1px dashed white; */
}

#shortava {
  border: 4px solid #f5f5fa;
  border-radius: 100%;
  width: 6.65vw;
  height: 6.65vw;
  margin-top: -3.325vw;
}
#shortprofile p {
  text-align: center;
  font-weight: 700;
  font-size: 1.7vw;
  margin: 0.5vw 0vw;
}

#postbox {
  padding: 1.67vw;
  width: 44.44vw;
  background-color: #13131a;
  border: 0.5px solid #262626;
  box-shadow: 0px 0px 0.7vw rgba(0, 0, 0, 0.05);
  border-radius: 0.6vw;
  font-size: 1.1vw;
  margin-bottom: 2vw;
}

.shortava {
  border: 4px solid #f5f5fa;
  border-radius: 100%;
  width: 5vw;
  height: 5vw;
  display: inline-block;
}

#postprofile {
  font-size: 1vw;
  display: inline-block;
  margin-left: 2vw;
  vertical-align: top;
}

#postprofile p {
  font-weight: 700;
  font-size: 1.7vw;
  width: 32vw;
}

#postprofile p span {
  color: #a950fb;
  font-size: 1.15vw;
  float: right;
  margin-right: -2vw;
  cursor: pointer;
}

#postImg {
  width: 41.11vw;
  height: 16.67vw;
  border-radius: 0.2vw;
  object-fit: contain;
}

#postComp {
  margin-bottom: 2vw;
  display: flex;
  justify-content: space-between;
  height: 1.5vw;
  cursor: pointer;
}

.reactions {
  position: absolute;
  z-index: 2;
  background: #0c0c0f;
  border: 1px solid #707070;
  border-radius: 0.3vw;
  height: 3.33vw;
  width: 23.33vw;
  margin-top: -5vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: space-between;
  padding: 0.3vw;
  cursor: pointer;
  visibility: hidden;
}

#comment{
  display: flex;
    justify-items: center;
    border: 0.15vw solid #f5f5fa;
    border-radius: 0.3vw;
    align-items: center;
}

#comment img {
  width: 2.22vw;
  height: 2.22vw;
  margin-left: 0.3vw;
  border-radius: 100%;
  border: 0.15vw solid #a950fb;
  margin-right: 1vw;
  vertical-align: middle;
}

#comment input {
  width: 37.78vw;
  height: 2.5vw;
  background-color: #13131a;
  padding-left: 1vw;
}

#comment input:focus {
  outline: none;
}

.commentDiv {
  background: #0c0c0f;
  font-weight: 600;
  font-size: 0.9vw;
  color: #d1c4e9;
  padding: 0.6vw 2.3vw;
  margin: 1vw 0;
  border-radius: 0.6vw;
  border-top-left-radius: 0;
}

#comment span {
  color: #7c8b9f;
  font-size: 1vw;
  margin-right: 2vw;
  cursor: pointer;
}

#replybox {
  background-color: #13131a !important;
}

#replybox input {
  width: 30vw;
}

#replies {
  margin-left: 5.5vw !important;
  width: 30vw;
  /* display: none; */
  padding: 0 !important;
  background-color: #13131a;
}

#reply {
  margin: 0 !important;
}

#replytext {
  background: #0c0c0f;
  font-weight: 600;
  font-size: 0.9vw;
  color: #d1c4e9;
  padding: 0.6vw 2.3vw;
  margin: 1vw 0;
  border-radius: 0.6vw;
  border-top-left-radius: 0;
}

.postStatus {
  font-size: 0.9vw;
  border-bottom: 0.5px solid #ebebf0;
  padding-bottom: 1vw;
}

#settle {
  width: 45vw;
  position: absolute;
  margin-left: 20vw;
  margin-top: 11.4vw;
}

@media (max-width: 800px) {
  #search_post,
  #shortprofile {
    visibility: hidden;
  }

  #postbox {
    width: 100vw;
    font-size: 2vw;
  }
  #settle {
    width: 100vw;
    margin-left: 0vw;
  }
}
