#search_post{
    margin-top: 3.89vw;
    margin-left: 23.33vw;
    position: fixed;
    width: 71vw;
    background: #13131A;
    height: 5.2vw;
    border: 1px solid #262626;
    border-radius: 0.6vw;
    padding: 1.3vw;
}

#search_post input{
    height: 2.5vw;
    border: 1px solid #F5F5FA;
    border-radius: 0.6vw;
    width: 36vw;
    background: #13131A;
    padding-left: 1vw ;
    margin-right: 1vw;
    font-weight: 700;
    font-size: 1.5vw;
    color: white;
}

#search_post input:focus{
    outline: none;
}

#search_post img {
    height: 2.5vw;
    margin: 0 1vw;
    vertical-align: bottom;
    cursor: pointer;
}

#search_post div{
    display: inline-block;
    width: 10vw;
    height: 2vw;
    background-color: #A950FB;
    border-radius: 0.3vw;
    vertical-align: middle;
    text-align: center;
    line-height: 2vw;
    font-weight: 700;
    letter-spacing: 0.095em;
    font-size: 0.9vw;
    cursor: pointer;
}

#shortprofile{
    position: fixed;
    width: 24.44vw;
    height: 18.89vw;
    background: #13131A;
    opacity: 0.8;
    border: 1px solid #262626;
    border-radius: 4px;
    margin-left: 70vw;
    margin-top: 11.4vw;
    font-size: 0.9vw;
    text-align: center;
}

#shortprofile img{
    cursor: pointer;
}

#shortcover{
    width: 24.44vw;
    height: 7vw;
    border: 0.1px dashed white;
}

#shortava{
    border: 4px solid #F5F5FA;
    border-radius: 100%;
    width: 6.65vw;
    height: 6.65vw;
    margin-top: -3.325vw;
}
#shortprofile p{
    text-align: center;
    font-weight: 700;
    font-size: 1.7vw;
    margin: 0.5vw 0vw;
}

#postbox{
    padding: 1.67vw;
    position: absolute;
    width: 44.44vw;
    background-color: #13131A;
    border: 0.5px solid #262626;
    box-shadow: 0px 0px 0.7vw rgba(0, 0, 0, 0.05);
    border-radius: 0.6vw;
    font-size: 1.1vw;
}

.shortava{
    border: 4px solid #F5F5FA;
    border-radius: 100%;
    width: 5vw;
    height: 5vw;
    display: inline-block;
}

#postprofile{
    font-size: 1vw;
    display: inline-block;
    margin-left: 2vw;
    vertical-align: top;
}

#postprofile p{
    font-weight: 700;
    font-size: 1.7vw;
    width: 32vw;
}

#postprofile p span{
    color: #A950FB;
    font-size: 1.15vw;
    float: right;
    margin-right: -2vw;
    cursor: pointer;
}