@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

#phone {
  margin-left: 60vw;
  margin-top: 25vh;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#phone button {
  margin: 0;
  margin-top: 1rem;
  margin-right: 2rem;
  border: none;
  display: inline;
  background-color: #512da8;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  line-height: 2.5rem;
  width: 10rem;
  height: 2.5rem;
}

#phone button:hover {
  background-color: #7e57c2;
}

#phone span {
  padding-left: 6vw;
}

#signup {
  margin-left: 58vw;
  margin-top: 20vh;
  height: 30vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#authblock{
    margin-top: -1vw;
}

@media (max-width: 800px) 
{
    #signup {
        margin-left: 10vw;
        margin-top: 10vh;
        height: 50vh;
        width: 30vw;
    }

    #phone{
        width: 80vw;
        margin-left: 10vw;
        font-size: 3vw;
    }

    #phoneillustration{
        display: block;
        margin-left: 40vw;
        margin-top: 5vh;
        width: 30vw;
      }

}