#viewskill {
  position: absolute;
  width: 77.78vw;
  margin-left: 16.67vw;
  margin-top: 5.55vw;
  border: 1px solid #ebebf0;
  border-radius: 4px;
  padding: 2vw;
}

#viewskill span {
    font-size: 1.7vw;
    font-weight: 700;
    margin-left: 1vw;
}
#viewskill img {
  width: 1.2vw;
  height: 1.2vw;
  cursor: pointer;
}

#add {
  float: right;
}

.editicon {
    height: 1.2vw;
    width: 1.2vw;
    float: right;
}
.endorse{
    color: #A950FB;
    font-size: 1.2vw !important;
    vertical-align: top;
    float: right;
    cursor: pointer;
}