.linkbox{
    width: 33.3333vw;
height: 4.44444vh;
margin-bottom: 5vh;
border-bottom: 1px solid white;
cursor: pointer;
}
.rightarrowbox{
    float: right;
    width: 1.66667vw;
height:1.66667vw;
position: relative;
top: 10%;
right: 3.33%;
}
.rightarrow{
    width: 50%;
    height: 50%;
    transform: rotate(45deg);
    position: relative;
    top: 25%;
    left: 20%;
    border-left: 0;
    border-bottom: 0;
    border-top:3px;
    border-right: 3px;
    border-style: solid;
}

.additionalline{
    font-weight: 700 !important ; 
font-size: 1.11111vw  !important;
line-height: 3.05556vh  !important;
} 