@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  color: #f8f8f8;
  font-family: "Manrope";
}

#forgot {
  width: 30vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -55vh;
  margin-left: 35vw;
  font-size: 1.1vw;
}

#forgot p {
  margin-top: 0.5rem;
}

#forgot pre {
  cursor: pointer;
  text-align: center;
  width: 30vw;
  font-size: 1.1vw;
}

#forgotillustration1 {
  width: 14vw;
  margin-left: 12.9vw;
  margin-top: 55vh;
  transform: rotateY(180deg);
}
#forgotillustration2 {
    position: absolute;
    width: 14vw;
    margin-left: 70vw;
    margin-top: -60vh;
}
#validation{
  display: none;
  font-size: 1rem;
}

#inputbox{
    height: 9vh;
}

@media (max-width: 800px){
    #forgotillustration1{
        display: none;
    }
    #forgotillustration2{
        margin-left: 40vw;
        margin-top: -47vh;
    }
    #forgot {
        width: 80vw;
        height: 40vh;
        margin-top: 10vh;
        margin-left: 10vw;
        font-size: 3.5vw;
      }

    #error{
        margin-top: 0;
    }
    #forgot pre{
        width: 80vw;
        font-size: 3vw;
    }
}