#account_nav {
  background-color: black;
  position: absolute;
  width: 17.77vw;
  height: 80vh;
  border: 1px solid #cdccd9;
  border-radius: 0.2vw;
  margin-left: 16.67vw;
  margin-top: 10vh;
}

#edit_profile {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  color: #eff5f7;
  padding-left: 6.67vw;
  padding-right: 6.67vw;
  padding-top: 6.8vh;
  padding-bottom: 4vw;
  background-color: black;
  position: absolute;
  width: 51.11vw;
  height: 80vh;
  border: 1px solid #cdccd9;
  border-radius: 0.2vw;
  margin-left: 36.67vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#edit_profile img {
  width: 5vw;
  height: 5vw;
  border: 0.2vw solid #eff5f7;
  border-radius: 50%;
}

#edit_profile input {
  background-color: black;
  width: 37.77vw;
  border: 0.1vw solid white;
  border-radius: 0.4vw;
  padding-left: 1vw;
  font-size: 0.8vw;
}

.edit_input{
    height: 2.77vw;
}

#edit_profile input:focus {
  -webkit-appearance: none;
  outline: none;
  background-color: #2e2e2e;
}

#headline{
    height: 5vw;
}

#edit_profile button{
    width: 35vw;
    height: 2.5vw;
    background-color: #A950FB;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    margin-left: 1.34vw;
}