.profileillustration {
  position: absolute;
  width: 22.7778vw;
  height: 45.5556vh;
  left: 8.88889vw;
  top: 26.25vh;
}
.centrebox {
  width: 32.9861vw;
  height: 40vw;
  display: flex;
  position: absolute;
  left: 39.0139vw;
  top: 14.4444vh;
  flex-direction: column;
  justify-content: space-between;
}
.bigboi {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vw;
  margin-bottom: 3vw;
  /* line-height: 6.80556vh; */
}

#avatar{
  width: 7vw;
  height: 7vw;
  border: 4px solid #F5F5FA;
  border-radius: 100%;
}

#editavatar{
  width: 2vw;
  height: 2vw;
  align-self: end;
  margin-left: -0.8vw;
  cursor: pointer;
}

#ava{
  display: flex;
  align-self: center;
}

#prof_head {
  background-color: #0C0C0F;
  border: 0.1vw solid white;
  border-radius: 0.4vw;
  padding-left: 1vw;
  font-size: 0.8vw;
  height: 5vw;
  width: 30vw;
}

#prof_head:focus{
  -webkit-appearance: none;
  outline: none;
  background-color: #2e2e2e;
}

@media (max-width: 800px) {
  .profileillustration {
    display: none;
  }
  .centrebox {
    margin-left: 4vw;
    width: 92.2222vw;
    height: 70vh;
    left: 4.44444vw;
    top: 20vh;
  }
  .bigboi {
    font-size: 6.66667vw;
    line-height: 4.125vh;
  }
}
