.authbox {
    height:2.875rem;
    width: 23.375rem;
}

#input{
    height:2.5rem;
    width: 23rem;
    border-radius: 0.5rem;
    border-color: aliceblue;
}

#input:focus{
    -webkit-appearance: none;
    outline: none;
    background-color: #2E2E2E;
}

#input::placeholder{
    padding-left: 1rem;
}

#switch{
    top: 30%;
    left: 20%;
}

#switch a{
    color:#7E57C2;
    font-size: 1.3rem;
}

#authblock { 
    background-color: #512DA8;
    border-radius: 0.5rem;
    font-family: 'Manrope';
    font-size: 1rem;
    text-align: center;
    line-height: 2.5rem;
}

#authblock:hover{
    background-color: #7E57C2;
}

#loginbox p{
    font-size: 2.25rem;
    text-align: center;
}

#oauth{
    border-radius: 0.5rem;
    background-color: #CDCCD9;
    color: #3E3E3E;
    text-align: center;
    line-height: 2.5rem;
}

#auth_instruction{
    width: 23.375rem;
    height: 1.25rem;
    text-align: center;
    margin-top : 1rem;
}
