@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    /* position: absolute;
    left: 50vw;
    top:50vh; */
    /* display: flex; */
    
    /* left: 50%; */
    /* top: 50vh; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    top:50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }